---
layout: default
title: Blog
---

<h1 class="page-header">Latest Posts</h1>

{% assign limit = 5 %}
{% assign counter = 0 %}

{% for post in site.posts %}
  {% unless post.categories contains "Portfolio" %}
    <article class="post-preview">

      <a class="title" href="{{ site.baseurl }}{{ post.url }}"><h2>{{ post.title }}</h2></a>

      <div class="horizontal-body">
        {{ post.excerpt }}
      </div>

      <div class="post-footer">
        {% for category in post.categories %}
          {% assign catURL = category | replace: ' ', '-' %}
          <div class="category"><a href="{{ site.baseurl }}/category/{{ catURL | downcase }}">{{ category }}</a></div>
        {% endfor %}
      </div>
    </article>
    {% assign counter = counter | plus:1 %}
  {% endunless %}
  {% if counter > 5 %}
    {% break %}
  {% endif %}
{% endfor %}

<article class="post-preview">
  <a class="title" href="{{ site.baseurl }}/category"><h2>See All Posts</h2></a>
</article>