---
layout: default
title: Categories
---

<h1 class="page-header">Categories</h1>

{% for category in site.categories %}
  <article class="listing-container">
    <a class="category" href="{{ category.url }}"><h2 class="title">{{ category.title }}</h2></a>
    <a name="{{ category_name | slugize }}"></a>
      {% assign catPosts = site.posts | where: "categories", category.name %}
      {% for post in catPosts %}
        <a class="listing" href="{{ site.baseurl }}{{ post.url }}"><h3>{{post.title}}</h3></a>
      {% endfor %}
  </article>
{% endfor %}