---
layout: default
title: Home
---

<h1 class="page-header">Latest Posts</h1>

{% for post in site.posts limit:5 %}
  <article class="post-preview">

    <h2 class="title"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>

    <div class="horizontal-body">
      {{ post.excerpt }}
    </div>

    <div class="post-footer">
      <div class="category-container">
        {% for category in post.categories %}
          <div class="category"><a href="{{ site.baseurl }}/{{category}}">{{ category }}</a></div>
        {% endfor %}      </div>
      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
    </div>
  </article>
{% endfor %}

<article class="post-preview">
    <h2 class="title"><a href="{{ site.baseurl }}/library">See All Posts</a></h2>
</article>