/* Main Color Palette
 * *******************************/

/*** Main application colors. ***/
$pink: #ffb5ac;
$pinka: rgba(255, 181, 172, 0.8);
$dark-pink: #b48079;
$highlight-pink: #cd443c;
$maroon: #77302e;
$maroona: rgba(119, 48, 46, 0.95);
$accent-gold:#5e4201;
$white: #d4d4d4;
$whitea: #d4d4d4d5;

/*** Main application fonts. ***/
@font-face {
    font-family: "Exo 2";
    src: url("fonts/Exo2-VariableFont_wght.ttf")
}

@font-face {
    font-family: "ChakraPetch";
    src: url("fonts/ChakraPetch-Regular.ttf")
}

/*** Font colors. ***/
$font-main: #e4d7d5;
$font-highlight: #e8ca90;

/*** Breakpoints ***/
$breakpoint-phone: 485px;

/*** Border definitions. ***/
$small-corner: 5px;
$large-corner: 10px;
$rounded-corner: 50px;
$box-shadow: rgba(0, 0, 0, 0.2);

/*** Margin definitions. ***/
$item-margin-small: 5px;
$item-margin-medium: 10px;
$item-margin-large: 20px;
$item-margin-xl: 40px;

/*** Padding definitions. ***/
$item-padding-small: 5px;
$item-padding-medium: 10px;
$item-padding-large: 20px;

/*** Transition times. ***/
$quick-transition: 0.25s;
$normal-transition: 0.50s;
$long-transition: 1.0s;