/* All styling regarding the body
 * of a webpage.
 * *******************************/
body {
  background-color: black;
  margin: 0px;
  padding-top: $item-padding-large;
  padding-bottom: $item-padding-large;
}

.background-image {
  background-image: url(images/forest_background.png);
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  display: block;
  filter: blur(10px) brightness(50%);
  height: calc(100% + 10px);
  left: -5px;
  position: fixed;
  top: -5px;
  width: calc(100% + 10px);
  z-index: 0;
}

.content {
  background-color: $maroona;
  border-radius: $small-corner;
  box-shadow: $box-shadow;
  color: $font-main;
  margin: auto;
  max-width: 830px;
  position: relative;
  padding-bottom: $item-padding-large;
  z-index: 10;

  .page-header {
    background-color: $pinka;
    border-top-left-radius: $small-corner;
    border-top-right-radius: $small-corner;
    color: $maroon;
    font-family: "Exo 2";
    margin: 0px;
    padding: $item-padding-small;
    padding-left: $item-padding-medium;
    padding-right: $item-padding-medium;
  }

  .post-preview {
    border-left: $pinka 5px solid;
    margin: $item-margin-large;
    padding: $item-padding-medium;
    padding-top: $item-padding-small;
    padding-bottom: $item-padding-medium;

    .title {      
      color: $white;
      font-family: "Exo 2";
      font-weight: 250;
      text-decoration: none;

      h2 {
        margin: 0px;
        margin-left: -$item-padding-medium;
        margin-top: -$item-padding-small;
        padding-left: $item-padding-medium;
        transition: $normal-transition;
      }

      h2:hover {
        background-color: $pinka;
        border-top-right-radius: $small-corner;
        border-bottom-right-radius: $small-corner;  
        transition: $normal-transition;

      }
    }

    .title:hover {
      color: $maroona;
      transition: $normal-transition;
    }

    .horizontal-body {
      font-family: "ChakraPetch";
    }

    .post-footer {
      display: flex;
      justify-content: space-between;

      a {
        border: 1px solid $pinka;
        border-radius: $small-corner;
        color: $white;
        padding: $item-padding-small;
        text-decoration: none;
        font-family: "ChakraPetch";
        transition: $normal-transition;
      }

      a:hover {
        background-color: $pinka;
        border-radius: $large-corner;
        color: $maroona;
        transition: $normal-transition;
      }

      .category-container {
        display: flex;
        justify-content: flex-start;
      }
    }
  }

  .listing-container {
    border-left: $pinka 5px solid;
    margin: $item-margin-large;
    padding: $item-padding-medium;
    padding-top: $item-padding-small;
    padding-bottom: $item-padding-medium;

    .category {      
      color: $white;
      font-family: "Exo 2";
      font-weight: 250;
      text-decoration: none;
      
      .title {
        margin: 0px;
        margin-left: -$item-padding-medium;
        margin-top: -$item-padding-small;
        padding-left: $item-padding-medium;
        transition: $normal-transition;
      }

      .title:hover {
        background-color: $pinka;
        border-top-right-radius: $small-corner;
        border-bottom-right-radius: $small-corner;  
        transition: $normal-transition;

      }
    }

    .category:hover {
      color: $maroona;
      transition: $normal-transition;
    }

    .listing {
      color: $white;
      font-family: 'ChakraPetch';
      text-decoration: none;
      transition: $normal-transition;
      
      h3 {
        padding-left: $item-padding-medium;
        margin: $item-margin-small;
        transition: $normal-transition;
      }

      h3:hover {
        background-color: $pinka;
        border-top-right-radius: $small-corner;
        border-bottom-right-radius: $small-corner;  
        transition: $normal-transition;
      }
    }

    .listing:hover {
      color: $maroona;
      transition: $normal-transition;
    }
  }
  


}