/* All styling regarding the body
 * of a webpage.
 * *******************************/
body {
  background-color: black;
  margin: 0px;
  padding-top: $item-padding-large;
  padding-bottom: $item-padding-large;
}

.background-image {
  background-image: url(images/forest_background.png);
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  display: block;
  filter: blur(10px) brightness(50%);
  height: calc(100% + 10px);
  left: -5px;
  position: fixed;
  top: -5px;
  width: calc(100% + 10px);
  z-index: 0;
}

.content {
  background-color: $whitea;
  border-radius: $small-corner;
  color: $font-main;
  padding: $item-padding-medium;
  margin: $item-margin-large;
  position: relative;
  z-index: 10;
}