/* All styling regarding the main
 * navigation
 * *******************************/
.header {
    align-items: center;
    background-color: $pinka;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    left: 0;
    min-width: 350px;
    padding-left: $item-padding-large;
    padding-right: $item-padding-large;
    padding-top: $item-padding-small;
    padding-bottom: $item-padding-small;
    position: relative;
    margin-top: $item-margin-large;
    width: calc(100% - 40px);
    z-index: 20;

    .menu {
        display: flex;
        align-items: center;
        height: 50px;

        .title {
            color: $maroon;
            font-family: 'ChakraPetch';
            font-weight: bold;
            font-size: 2em;
            text-decoration: none;
            margin: $item-margin-medium;
        }

        .link {
            font-family: 'Exo 2';
            color: $maroon;
            text-decoration: none;
            margin: $item-margin-medium;
        }

        .logo {
    
            img {
                border-radius: $small-corner;
                height: 100px;
                width: 100px;
            }
        }   
        
        .icon {

            img {
                border-radius: $large-corner;
                height: 40px;
                width: 40px;
            }
        }
    }
}

.main-navigation {
    display: flex;
    justify-content: flex-start;
    font-family: "Exo 2";
    font-size: 1.5em;
    flex-wrap: wrap;
    position: relative;
    margin: $item-margin-xl;
    min-width: 300px;
    width: calc(100% - 80px);
    z-index: 20;
    
    a {
        color: $white;
        text-decoration: none;
        margin: $item-margin-medium;
        transition: $quick-transition;
    }

    a:hover {
        color: $highlight-pink;
    }

    .current-link {
        border-bottom: $white 2px solid;
    }

}

.breadcrumbs {
    color: $whitea;
    display: flex;
    flex-wrap: wrap;
    font-family: "Exo 2";
    padding-left: 130px;
    position: relative;
    z-index: 15;

    a {
        color: $whitea;
        text-decoration: none;
    }
}