/* All styling regarding the main
 * navigation
 * *******************************/
.nav {
    align-items: center;
    background-color: $pinka;
    border-radius: $small-corner;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    min-width: 350px;
    padding: $item-padding-medium;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    width: calc(100% - 20px);
    z-index: 20;

    .menu {
        display: flex;
        align-items: center;

        .title {
            color: $maroon;
            font-family: 'ChakraPetch';
            font-weight: bold;
            font-size: 2em;
            text-decoration: none;
            margin: $item-margin-medium;
        }

        .link {
            font-family: 'Exo 2';
            color: $maroon;
            text-decoration: none;
            margin: $item-margin-medium;
        }

        .logo {
    
            img {
                border-radius: $small-corner;
                height: 50px;
                width: 50px;
            }
        }   
        
        .icon {

            img {
                border-radius: $large-corner;
                height: 40px;
                width: 40px;
            }
        }
    }
}