---
layout: default
---


<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% if page.title %}{{ page.title }} {% endif %}</title>

    {% include meta.html %}

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
  </head>

  <body>
    <div class="background-image"></div>
    <nav class="header">
      <div class="menu">
        <div class="logo">
          <a href="/"><img src="/images/site-logo.png" alt="Woman in beanie playing violin."></a>
        </div>
        <a class="title" href="/">{{ site.title }}</a>
      </div>

      <div class="menu">
        <div class="icon">
          <a href="https://www.linkedin.com/in/galestriker/"><img src="/images/LinkedIn.png" alt="LinkedIn social media icon."></a>
          <a href="https://github.com/Pinemark-Gale"><img src="/images/GitHub.png" alt="GitHub social media icon."></a>
        </div>
      </div>
    </nav>
    
    <a class="link" href="/blog">Blog Posts</a>
    <a class="link" href="/about">About</a>


    <div class="content">
        {{ content }}
    </div>

  </body>
</html>